:root {
  --color-text-0: #dddddd;
  --color-text-1: #cccccc;
  --color-dark-0: #000000;
  --color-dark-1: #333333;
  --color-accent-general: #81a2be;
  --color-accent-warning: #cc6666;
  --color-accent-note: #f0c674;
}
