version: '3.8'  

services:  
  backend:  
    build: ./backend  
    container_name: api-backend  
    labels:  
      - "monitoring.role=backend"  
      - "monitoring.name=api-backend"  
    restart: unless-stopped  
    env_file:  
      - ./backend/.env  
    environment:  
      - NODE_ENV=production  
      - PORT=4000  
      - MONGO_URL=mongodb://mongo:27017/webpage-portfolio  
      - CORS_ORIGINS=https://stealthdebug.org,https://www.stealthdebug.org  
    networks:  
      - app-network  
    expose:  
      - "4000"  
    depends_on:  
      - mongo  

  frontend:  
    build: ./frontend  
    container_name: react-frontend  
    labels:  
      - "monitoring.role=frontend"  
      - "monitoring.name=react-frontend"  
    restart: unless-stopped  
    networks:  
      - app-network  
    expose:  
      - "80"  

  nginx:  
    image: nginx:alpine  
    container_name: nginx-proxy
    labels:  
      - "monitoring.role=proxy"  
      - "monitoring.name=nginx-proxy"    
    restart: unless-stopped  
    ports:  
      - "80:80"  
      - "443:443"  
    volumes:  
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro  
      - ./certs:/etc/nginx/certs:ro  
    depends_on:  
      - backend  
      - frontend  
    networks:  
      - app-network  

  mongo:  
    image: mongo:6  
    container_name: mongo-db  
    labels:  
      - "monitoring.role=database"  
      - "monitoring.name=mongo-db"  
    restart: unless-stopped  
    environment:  
      - MONGO_INITDB_DATABASE=webpage-portfolio  
    volumes:  
      - mongo-data:/data/db  
    ports:  
      - "27017:27017"  
    networks:  
      - app-network  

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.1
    hostname: cadvisor
    platform: linux/aarch64
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:ro"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
      - "/dev/disk/:/dev/disk:ro"
    ports:
      - "8080:8080"
  
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"

networks:  
  app-network:  
    driver: bridge  

volumes:  
  mongo-data:  
    driver: local  