[Unit]
Description=API Backend Service
After=mongo.service
Requires=mongo.service

[Container]
Image=localhost/backend:latest
ContainerName=api-backend
EnvironmentFile=%h/.config/containers/env/backend.env
Volume=backend-uploads.volume:/app/public/uploads:Z
Expose=4000
Network=app.network
NoNewPrivileges=true
DropCapability=NET_RAW

[Service]
Restart=unless-stopped
TimeoutStartSec=900

[Install]
WantedBy=default.target