[Unit]
Description=API Backend Service
After=mongo.service
Requires=mongo.service

[Container]
Image=localhost/backend:latest
ContainerName=api-backend
EnvironmentFile=%E/.env
Volume=./backend/public/uploads:/app/public/uploads
Expose=4000
Network=app-network.network
SecurityLabelDisable=false
NoNewPrivileges=true
DropCapability=NET_RAW
LogDriver=journald

[Service]
Restart=unless-stopped
TimeoutStartSec=900

[Install]
WantedBy=default.target