[Unit]
Description=API Backend Service
After=mongo.service
Requires=mongo.service

[Container]
Image=localhost/backend:latest
Pod=webpage.pod
ContainerName=backend
EnvironmentFile=%h/.config/containers/env/backend.env
Volume=backend-uploads.volume:/app/public/uploads:Z
PublishPort=4000:4000
Network=app.network

[Service]
TimeoutStartSec=900
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target