[Unit]
Description=React Frontend Service
After=network-online.target

[Container]
Image=localhost/frontend:latest
Pod=webpage.pod
ContainerName=frontend
PublishPort=80
Network=app.network

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target