[Unit]
Description=React Frontend Service
After=network-online.target

[Container]
Image=localhost/frontend:latest
ContainerName=react-frontend
Expose=80
Network=app.network
SecurityLabelDisable=false

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target