[Unit]
Description=MongoDB Database
After=network-online.target

[Container]
Image=docker.io/library/mongo:latest
Pod=webpage.pod
ContainerName=mongo
EnvironmentFile=%h/.config/containers/env/mongo.env
Volume=mongo-data.volume:/data/db
Volume=%h/.config/containers/mongo/init-db.js:/docker-entrypoint-initdb.d/init-db.js:ro
PublishPort=27017:27017
Network=app.network

Exec=mongod --wiredTigerCacheSizeGB 0.25

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
