[Unit]
Description=MongoDB Database
After=network-online.target

[Container]
Image=docker.io/library/mongo:6
ContainerName=mongo-db
EnvironmentFile=%h/.config/containers/env/.env
Volume=mongo-data.volume:/data/db
PublishPort=27017:27017
Network=app.network

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target