[Unit]
Description=Nginx Reverse Proxy
After=backend.service frontend.service
Requires=backend.service frontend.service

[Container]
Image=docker.io/library/nginx:alpine
Pod=webpage.pod
ContainerName=nginx
Volume=%h/.config/containers/nginx:/etc/nginx:ro,Z
Volume=%h/.config/containers/certs:/etc/nginx/certs:ro,Z
PublishPort=80:80
PublishPort=443:443
Network=app.network

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target