[Unit]
Description=Prometheus Node Exporter
After=network.target

[Container]
Image=docker.io/prom/node-exporter:latest
ContainerName=node-exporter
Volume=/proc:/host/proc:ro
Volume=/sys:/host/sys:ro
Volume=/:/rootfs:ro
Exec= \
    --path.procfs=/host/proc \
    --path.rootfs=/rootfs \
    --path.sysfs=/host/sys \
    --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
Expose=9100
Network=monitoring.network
SecurityLabelDisable=false
NoNewPrivileges=true
DropCapability=ALL
ReadOnly=true
LogDriver=journald

[Service]
Restart=unless-stopped
TimeoutStartSec=900

[Install]
WantedBy=default.target