[Unit]
Description=Podman Prometheus Exporter
After=observability-pod.service podman.socket
Requires=observability-pod.service podman.socket

[Container]
Image=quay.io/navidys/prometheus-podman-exporter:latest
Pod=observability.pod
ContainerName=podman-exporter

Volume=/run/user/1000/podman/podman.sock:/run/podman/podman.sock:ro
PublishPort=9882:9882
Network=observability.network

[Service]
Restart=always

[Install]
WantedBy=default.target