# podman run 
##   -e CONTAINER_HOST=unix:///run/podman/podman.sock 
##   -v $XDG_RUNTIME_DIR/podman/podman.sock:/run/podman/podman.sock 
##   -p 9882:9882 
##   --userns=keep-id:uid=65534 
##   --security-opt label=disable 
##   quay.io/navidys/prometheus-podman-exporter

[Unit]
Description=Podman Prometheus Exporter
After=observability-pod.service podman.socket
Requires=observability-pod.service podman.socket

[Container]
Image=quay.io/navidys/prometheus-podman-exporter:latest
Pod=observability.pod
ContainerName=podman-exporter
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Volume=$XDG_RUNTIME_DIR/podman/podman.sock:/run/podman/podman.sock:ro
PublishPort=9882:9882
Network=observability.network
UserNS=keep-id:uid=65534
SecurityLabelDisable=true

[Service]
Restart=always

[Install]
WantedBy=default.target