/* Navbar.module.css */

.navbar {
  width: 100%;
  height: 60px;
  background-color: var(--color-dark-0); /* fondo negro */
  color: var(--color-text-0); /* texto blanco */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* todo a la derecha */
  padding: 0 2rem;
  border-bottom: 1px solid var(--color-text-0); /* borde blanco abajo */
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  position: sticky;
  top: 0;
  z-index: 1000;
  gap: 1.5rem; /* separación entre todos los elementos */
}

.navbar a {
  color: var(--color-text-0);
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #f0f0f0;
}

.navbar button {
  padding: 0.5rem 1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  background-color: var(--color-text-0);
  color: var(--color-dark-0);
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar button:hover {
  background-color: var(--color-dark-0);
  color: var(--color-text-0);
  border: 1px solid var(--color-text-0);
  transition: 0.3s;
}
