/* Login.module.css */

.page-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-0); /* fondo negro */
  overflow: hidden;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-dark-0);
  border: 1px solid var(--color-text-0); /* borde blanco */
  padding: 2rem;
  color: var(--color-text-0);
  box-sizing: border-box;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-text-0);
}

.input {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 0.95rem;
  background-color: var(--color-dark-0);
  color: var(--color-text-0);
  border: 1px solid var(--color-text-0);
  outline: none;
  transition: border 0.3s;
}

.input:focus {
  border-color: var(--color-text-0);
}

.error {
  color: var(--color-accent-warning);
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
}

.button {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color-text-0);
  color: var(--color-dark-0);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover:not(:disabled) {
  background-color: var(--color-dark-0);
  color: var(--color-text-0);
  border: 1px solid var(--color-text-0);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
